.header-component div.top-menu {
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.top-menu a {
    color: initial;
    text-decoration: none;
}
.right-menu-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    font-size: 14px;
}
.right-menu-list li:not(:first-child) {
    padding-left: 15px;
    opacity: 0.7;
}
.right-menu-list li:first-child a{
    color: #0098ab;
    border-right: 1px solid #999;
    padding-right: 15px;
}

.right-menu-list li a:hover {
    color: #0098ab;
}
.home-text img {
    width: 130px;
}
div.video-wrapper {
    position: relative;
}
div.middle-header-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.middle-header-text div.top-text {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 15px;
}
.middle-header-text div.bottom-text {
    font-size: 20px;
    font-weight: 500;
}
.middle-header-text a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
}
div.middle-header-button {
    width: 320px;
    height: 45px;
    background-color: #f13a59;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-radius: 5px;
    margin: 36px;
    padding: 12px;
}
div.middle-header-button:hover {
    background-color: #e81035;
}
div.middle-header-button:active {
    border: 1px dotted black;
}
video {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}
div.quick-action-menu {
    margin: 20px 0;
}
ul.quick-action-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.quick-action-list a {
    display: flex;
    text-decoration: none;
    color: #757575;
    border: 1px solid #bbb;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    background-color: rgb(246,247,248);
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
    font-weight: 550;
}
.quick-action-list a:hover {
    border: 1px solid black;
}
